/* Introdução */ 

.introducao {
	height: 160px;
	background: url("../img/bg-produtos.jpg") no-repeat center;
	background-size: cover;
	padding-top: 30px;
}

.introducao h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 6px auto 10px auto;
}

.introducao p {
	color: #FFF;
}

/* Produtos */ 

.produto-item {
	padding-top: 60px;
}

.produto-item h2 {
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #FFF;
	text-transform: uppercase;
	position: relative;
	top: -180px;
	text-align: center;
	margin-bottom: -56px;
}

.produto-item h2:before, .produto-item h2:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 10px auto;
}

.produto-icone {
	background: #000;
	padding: 70px 0;
}

.produto-icone img {
	margin: 0 auto;
}

.produto-info {
	background: #000;
}

.produto-info p {
	color: #FFF;
	font-size: 18px;
	line-height: 25px;
	height: 182px;
	padding: 30px 40px;
}

.produto-info ul li { 
	background: #FEC63F;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center; 
	width: 229px;
	height: 48px;
	padding-top: 16px;
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2) {
	margin-bottom: 2px;
}

.produto-info ul li:nth-child(even) {
	margin-left: 2px; 
}  

/* Orçamento */ 

.orcamento {
	background: #000;
	width: 100%;
	margin-top: 60px;
	padding: 40px 0;
}

.orcamento h2 {
	color: #FEC63F;
}

.orcamento h2:after {
	background: #FEC63F;
}

.form {
	padding-right: 60px;
}

.form label {
	display: block;
	color: #FFF;
	font-family: Georgia, "Time New Roman", sans-serif; 
	font-size: 18px;
	line-height: 25px; 
	margin-bottom: 5px;
}

.form input {
	display: block;
	width: 100%;
	border: 4px solid #FEC63F;
	background: none;
	color: #FFF;
	font-family: Georgia, "Time New Roman", sans-serif; 
	font-size: 14px;
	margin-bottom: 10px;
	padding: 5px 10px;
	outline: none;
}

.form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #FEC63F;
	background: none;
	color: #FFF;
	font-family: Georgia, "Time New Roman", sans-serif; 
	font-size: 14px;
	margin-bottom: 20px;
	padding: 5px 10px;
	outline: none;
}

.form button {
	background: none;
	padding: 5px 15px;
}

.orcamento-dados {
	color: #FFF;
}

.orcamento-dados h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #FEC63F;
	text-transform: uppercase;

}

.orcamento-dados span {
	display: block;
	font-size: 18px;
	font-family: Georgia, "Time New Roman", sans-serif;
	line-height: 30px;
}

.email-dados {
	margin-bottom: 20px;
}

.orcamento-dados p {
	padding: 10px 0 5px 0;
}

.orcamento-dados ul {
	padding-right: 60px; 
}

.orcamento-dados ul li {
	font-size: 14px;
	line-height: 30px;
	font-family: Georgia, "Time New Roman", sans-serif; 
	margin: 2px 0;
	padding-left: 10px; 
}

.orcamento-dados ul li:nth-child(odd) {
	background: #1D1D1D;
}

